body {
    background-color: #c8cdce
}

hr {
    width: 60%;
    border: 0.5px dotted;
}

.row {
    display:flex;
    align-items: center;
    justify-content: center;
}
.column {
    flex: 50%;
}
.question-box {
    width: 450px;
    padding: 1rem;
}

#paper {
    background-color: #fff;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 5px;
}

#header {
    background-color: teal;
    border-radius: 5px 5px 0px 0px;
    height: auto;
}

#foot {
    background-color: teal;
    border-radius: 0px 0px 5px 5px;
    height: auto;
}
